body {
    background-color: cornsilk;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.background {
    height: 105vh;
    background-image: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}

.content {
    display: inline-block;
    width: 900px;
    position: absolute;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content > .left {
    display: inline-block;
    width: 40%;
    background-color: cadetblue;
    float: left;
    position: absolute;
    top: 20px;
    bottom: 20px;
    background-image: url(../img/leftpfoto.png);
    background-size: cover;
    background-position: left;
}
    .left > .nkn {
        display: inline-block;
        color: white;
        position: absolute;
        top: 60px;
        left: 50px;
        right: 20px;
        font-size: 50px;
    }
    .left > .wallet {
        display: inline-block;
        color: white;
        position: absolute;
        top: 120px;
        left: 50px;
        right: 20px;
        font-size: 50px;
    }
    .left > .nuorodos {
        display: inline-block;
        position: absolute;
        top: 200px;
        left: 50px;
        right: 20px;
    }
        .nuorodos > .nuoroda {
            display: inline-block;
            text-decoration: none;
            color: #4882CB;
            margin-left: 10px;


        }
        .nuorodos > .dot {
            display: inline-block;
            height: 8px;
            width: 8px;
            background-color: #5093E5;
            border-radius: 50%;
            margin-top: 5px;
            margin-left: 10px;
    }
    .left > .logo {
        display: inline-block;
        position: absolute;
        bottom: 25px;
        left: 25px;
    }
.content > .right {
    display: inline-block;
    width: 60%;
    padding: 60px 80px 60px 40px;
    background-color: #fff;
    float: right;

    position: relative;
}
    .xxxx {
        display: inline-block;
        height: 80px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        line-height: 70px;
        color: black;
        
        position: absolute;
        top: 0;
        right: 0;
    }
        .xxxx:hover {
            color: #04048f;

        }
    .right > .antraste {
        display: inline-block;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 17px;

    }
    .right > .pastraipa {
        display: inline-block;
        line-height: 20px;
        margin-bottom: 25px;
        color: #B4BACE;

    }

@media (max-width: 1000px){
    .content {
        width: 700px;
        margin: 0, calc(50% - 500px);
    }
    .content > .left > .nuorodos > .nuoroda {
        display: block;
        margin-top: 10px;
    }
    .content > .left > .nuorodos > .dot {
        display: none;
    }
    @media (max-width: 800px){
        .content {
            display: block;
            width: 600px;
            margin: 0, calc(50% - 300px);
        }
        .content > .right {
            padding: 40px 60px 40px 20px;
        }
        .content > .right > .xxxx {
            display: inline-block;
            height: 60px;
            width: 60px;
        }
        .content > .right > .antraste {
            font-size: 20px;
        }